.center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  width: 300px;
  justify-content: center;
}

.calculator input {
  text-align: right;
  margin-bottom: 4px;
  width: 300px;
  padding: 0.375rem 0.75rem;
}

.calculator button {
  padding: 20px;
}

.button-grid {
  grid-column: 1 / 5;
  grid-row: 2 / 6;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}